<mat-grid-list cols="2" rowHeight="10em" gutterSize="30px">
  <mat-grid-tile>
    <mat-card class="category-card" routerLink="races">
      <mat-card-title>Races</mat-card-title>
      <mat-card-content>
        <mat-icon
          svgIcon="dnd-races-svg"
          color="primary"
          aria-hidden="false"
          aria-label="D&D Races Icon"
        ></mat-icon>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="category-card" routerLink="spells">
      <mat-card-title>Spells</mat-card-title>
      <mat-card-content>
        <mat-icon
          svgIcon="dnd-spells-svg"
          color="primary"
          aria-hidden="false"
          aria-label="D&D Spells Icon"
        ></mat-icon>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
