<div *ngIf="spell">
  <h3>{{ spell.name }}</h3>
  <p>{{ spell.spellCategory }}</p>

  <mat-divider></mat-divider>

  <p>Casting Time: {{ spell.casting_time }}</p>
  <p>Range/Area: {{ spell.rangeAreaText }}</p>
  <p>Components: {{ spell.componentsText }}</p>
  <p>Duration: {{ spell.durationText }}</p>
  <div *ngIf="spell.attackSaveText">
    <p>Attack/Save: {{ spell.attackSaveText }}</p>
  </div>

  <mat-divider></mat-divider>

  <div
    class="spell-description"
    *ngFor="let descriptionParagraph of spell.desc"
  >
    <p>{{ descriptionParagraph }}</p>
  </div>

  <mat-divider></mat-divider>

  <p>Classes: {{ spell.classesNames }}</p>
</div>
