<div *ngIf="spell$ | async as spell">
  <h3>{{ spell.name }}</h3>
  <p>{{ spell.level }} Level {{ spell.school.name }}</p>

  <mat-divider></mat-divider>

  <p>Casting Time: {{ spell.casting_time }}</p>
  <p>
    Range/Area: {{ spell.range }}/{{ spell.area_of_effect?.size }} -
    {{ spell.area_of_effect?.type }}
  </p>
  <p>Components: {{ spell.components }} - {{ spell.material }}</p>
  <p>
    Duration: {{ spell.concentration ? "Concentration, " : ""
    }}{{ spell.duration }}
  </p>
  <p>Attack/Save: TO DO</p>

  <mat-divider></mat-divider>

  <p>{{ spell.desc }}</p>

  <mat-divider></mat-divider>

  <p>Classes: {{ spell.classes }}</p>
</div>
