.mat-icon {
  height: '100%';
  width: '100%';
}

.mat-card-avatar {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.mat-card-header-text {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
