<h1 mat-dialog-title>Filter</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>{{ dialogInput.schoolFilter.property }}</mat-label>
    <mat-select formControlName="school">
      <mat-option
        *ngFor="let possibleValue of dialogInput.schoolFilter.possibleValues"
        [value]="possibleValue.value"
        >{{ possibleValue.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ dialogInput.spellLevelFilter.property }}</mat-label>
    <mat-select formControlName="spellLevel">
      <mat-option
        *ngFor="
          let possibleValue of dialogInput.spellLevelFilter.possibleValues
        "
        [value]="possibleValue.value"
        >{{ possibleValue.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCleanClick()">Clean</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>
