<mat-toolbar color="primary">
  <div>
    <button
      mat-icon-button
      class="home-button"
      aria-label="Home Button"
      [disabled]="isButtonDisabled"
      (click)="backButton()"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Home Icon"
        fontIcon="arrow_back"
      ></mat-icon>
    </button>
  </div>
  <span class="example-spacer"></span>
  <span>D&D API Scrapper</span>
  <span class="example-spacer"></span>

  <button
    mat-icon-button
    class="dnd-button"
    aria-label="Link to D&D site"
    (click)="dndButtonClick()"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Home Icon"
      svgIcon="dnd-logo-svg"
      color="accent"
    ></mat-icon>
  </button>
</mat-toolbar>
